<!-- <h4>Если бы вы были гражданином нашего мира и могли бы вместе с нами голосовать за погоду по утрам, какую погоду вы бы предпочитали большую часть своего времени?</h4>
 Температура
    Облачно,ясно
    Дождливо сухо
    Жить все время в лете, зиме, осене, весне, либо чтобы была обычная смена сезонов</h4> 

погода мечты по горизонталям-->
<script>
    const surveyForm = document.getElementById("surveyForm");
    const showAnswersButton = document.getElementById("showAnswersButton");
    const answersContainer = document.getElementById("answersContainer");

    surveyForm.addEventListener("submit", function (event) {
        event.preventDefault();

        const name = document.getElementById("nameInput").value;
        const temperature = document.getElementById("temperatureSelect").value;
        const clouds = document.querySelector(
            'input[name="clouds"]:checked'
        ).value;
        const humidity = document.querySelector(
            'input[name="humidity"]:checked'
        ).value;
        const season = document.getElementById("seasonSelect").value;

        const surveyFormData = {
            name: name,
            temperature: temperature,
            clouds: clouds,
            humidity: humidity,
            season: season,
        };
        const surveyFormResults = JSON.stringify(surveyFormData);
        localStorage.setItem("surveyFormWeatherResults", surveyFormResults);
        // answersContainer.textContent = `0: ${surveyFormResults},}`;
        // showAnswersButton.dataset.surveyFormData = JSON.stringify(
        //     Object.values(surveyFormData)
        // );
        answersContainer.classList.add("display");
        setTimeout(() => {
            location.reload();
        }, 3000);
    });
    // // showAnswersButton.addEventListener("click", function () {
    // //     const surveyFormData = JSON.parse(
    // //         showAnswersButton.dataset.surveyFormData || "{}"
    // //     );

    // });
</script>

<!-- <script>
    const nextPage = document.getElementById("nextPage");
    const hiddenGame = document.getElementById("hiddenGame");
    const hideAfter = document.getElementById("hideAfter");
    // nextPage.addEventListener("click", () => {
    //     hiddenGame.classList.toggle("hide");
    //     hideAfter.classList.toggle("hide");
    // });
</script> -->
<style>
    .hide {
        display: none;
    }
    main {
        position: relative;
    }

    .form-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .question {
        font-size: 1.3rem;
        padding: 10px 15px;
        width: 600px;
        text-align: center;
        margin-bottom: 30px;
    }

    .span-question {
        color: rgb(251, 221, 157);
        background-color: #3488a8;
        padding: 1px 3px;
        border-radius: 5px;
    }

    form {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        row-gap: 20px;
    }

    .grid-container {
        display: grid;
        grid-template: 1fr 1fr/1fr 1fr;
        gap: 15px;
    }

    option {
    }
    .container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        background-color: rgb(251, 221, 157);
        padding: 10px 15px;
        border-radius: 10px 10px 10px 0;
        border-bottom: 5px solid #c9f0ff;
        border-left: 5px solid #3488a8;
        width: 250px;
    }
    .name-container {
        width: 160px;
        align-self: center;
        border-radius: 30px;
        border: 3px solid #539ebc;
    }
    h3 {
        font-size: 1.3rem;
        margin: 0;

        color: black;
        border-radius: 8px;
    }

    .p-label {
        margin: 5px 0 10px;
    }

    input,
    select {
        border-radius: 6px;
    }
    .weather_wrap-relative {
        width: 200px;
        display: block;
        position: relative;
        align-self: center;
    }
    .weather_submit {
        position: absolute;
        display: block;
        color: white;
        font-size: 1rem;
        font-weight: bolder;
        padding: 10px 15px;
        margin: 0;
        border: 3px solid rgb(107, 36, 121);
        background-color: rgb(119, 43, 134);
        width: 200px;
    }
    .weather_submit:hover {
        cursor: pointer;
        background-color: rgb(107, 36, 121);
    }

    button {
        align-self: center;
        background-color: #3488a8;
    }
    .weather_next-page {
        align-self: center;
        display: block;
        width: 130px;
        color: white;
        font-size: 1rem;
        font-weight: bolder;
        font-family: sans-serif;
        text-decoration: none;
        text-align: center;
        padding: 11px 8px;
        border: 3px solid #c9f0ff;
        margin-top: 65px;
    }
    .weather_next-page:hover {
        cursor: pointer;
        background-color: #c9f0ff;
    }
    #answersContainer {
        position: absolute;
        background-color: greenyellow;
        text-align: center;
        width: 200px;
        padding: 12.5px 0;
        margin: 0;
    }
    #answersContainer.display {
        z-index: 1;
    }
</style>

<main>
    <!-- <div id="hiddenGame" class="hide">
        <p class="p-vertical p-vertical-weather">ПОГОДАМЕ</p>
        <p class="p-vertical p-vertical-dream">МЕЧТЫПО</p>
       
    </div> -->

    <!-- <p class="p-vertical p-vertical-weather">ПОГОДАМЕЧТЫ</p>
        <p class="p-vertical p-vertical-dream">МЕЧТЫПОГОДА</p> -->
    <div class="form-container">
        <h2 class="question">
            Если бы ты был гражданином нашего мира и мог бы вместе с нами
            голосовать за погоду по утрам, <span class="span-question"
                >какую погоду</span
            > ты бы предпочитал <span class="span-question"
                >большую часть времени?</span
            >
        </h2>
        <form id="surveyForm">
            <div class="name-container container">
                <label for="nameInput"><h3>Твое имя:</h3> <br /></label>
                <input type="text" name="name" id="nameInput" required />
            </div>
            <div class="grid-container">
                <div class="temperature-container container">
                    <label for="temperatureSelect"
                        ><h3>Температура</h3>
                        <p class="p-label">
                            Какая температура для тебя наиболее комфортна?
                        </p>
                    </label>
                    <select id="temperatureSelect">
                        <option value="в -10/0">от -10 до 0</option>
                        <option value="в 0/+15">от 0 до +15</option>
                        <option value="в +10/+20">от +10 до +20</option>
                        <option value="в +15/+25">от +15 до +25</option>
                        <option value="в +20/+25">от +20 до +25</option>
                        <option value="в +25/+35">от +25 до +35</option>
                        <option value="больше +35">больше +35</option>
                    </select>
                </div>
                <div class="clouds-container container">
                    <label for="cloudsRadio"
                        ><h3>Количество солнца</h3>
                        <p class="p-label">
                            Тебе бы хотелось, чтобы большую часть времени было:
                        </p>
                    </label>
                    <div class="wrapRadio">
                        <input
                            type="radio"
                            id="cloudsYes"
                            name="clouds"
                            value="облачно"
                            required
                        /> Облачно
                        <input
                            type="radio"
                            id="cloudsNo"
                            name="clouds"
                            value="ясно"
                        /> Ясно
                    </div>
                </div>
                <div class="humidity-container container">
                    <label for="humidityRadio"
                        ><h3>Влажность</h3>
                        <p class="p-label">
                            Тебе бы хотелось, чтобы большую часть времени было:
                        </p>
                    </label>
                    <div class="wrapRadio">
                        <input
                            type="radio"
                            id="humidityYes"
                            name="humidity"
                            value="дождливо/влажно"
                            required
                        /> Дождливо/Влажно
                        <input
                            type="radio"
                            id="humidityNo"
                            name="humidity"
                            value="сухо"
                        /> Сухо
                    </div>
                </div>
                <div class="season-container container">
                    <label for="seasonSelect"
                        ><h3>Cезон</h3>
                        <p class="p-label">
                            В каком сезоне тебе бы хотелось проживать большую
                            часть времени?
                        </p>
                    </label>
                    <select id="seasonSelect">
                        <option value="летний">Лето</option>
                        <option value="осенний">Осень</option>
                        <option value="весенний">Весна</option>
                        <option value="зимний">Зима</option>
                        <option
                            value="обычная смена сезонов, а не какой-то один"
                            >С обычной сменой сезонов</option
                        >
                    </select>
                </div>
            </div>
            <div class="weather_wrap-relative">
                <div id="answersContainer">✓</div>
                <button type="submit" class="weather_submit"
                    >Тык для сохранения</button
                >
            </div>
            <!-- <button id="showAnswersButton">Покажи мне мои ответы</button> -->
        </form>
        <a class="weather_next-page" href="../gameForWeather">След страница</a>
    </div>
</main>
