---
import Grain from "./Grain.astro";
---

<script>
    const surveyFormAnimals = document.getElementById("survey_form-animals");
    const animalsShowAnswersContainer = document.getElementById(
        "animalsShowAnswersContainer"
    );
    let surveyFormAnimalsResult;
    // const animalsSurvey = addEventListener('click', function =>{})

    surveyFormAnimals.addEventListener("submit", function (event) {
        event.preventDefault();
        surveyFormAnimalsResult = JSON.stringify(
            document.querySelector('input[name="animals"]:checked').value
        );
        localStorage.setItem(
            "surveyFormAnimalsResult",
            surveyFormAnimalsResult
        );
        animalsShowAnswersContainer.textContent = `2:${JSON.stringify(
            surveyFormAnimalsResult
        )}`;
        const resultContainerAnimals = document.getElementById(
            "animalsShowAnswersContainer"
        );
        const surveySubmitButton =
            document.getElementById("surveySubmitButton");
        let storedResultsAnimals;
        storedResultsAnimals = localStorage.getItem("surveyFormAnimalsResult");
        const resultsAnimals = JSON.stringify("storedResultsAnimals");
        resultContainerAnimals.textContent = `✓${storedResultsAnimals.replace(
            /"/g,
            ""
        )}`;
        resultContainerAnimals.classList.add("display");
        setTimeout(() => {
            location.reload();
        }, 3000);
    });

    let counter = 10;
    document.addEventListener("click", () => {
        counter--;
        const surveyTask = document.getElementById("surveyTask");
        const surveyCounter = document.getElementById("surveyCounter");
        surveyCounter.textContent = `${counter} раз`;
        if (counter === 0) {
            surveyTask.style.zIndex = "-1";
        }
    });
</script>

<style>
    .survey_title-main {
        font-size: 1.8rem;
        text-align: center;
        margin: auto;
        border-bottom: 3px solid #3488a8;
        width: 600px;
        margin-bottom: 30px;
        padding-bottom: 5px;
    }
    .survey_title-animals {
        margin: 0;
    }
    .survey_wrap-flex {
        display: flex;
        justify-content: space-between;
        column-gap: 5px;
        height: 345px;
    }
    .survey_wrap-animal {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 21%;
        justify-content: space-between;
        background-color: rgb(251, 221, 157);
        padding: 20px;
        border: 3px solid #c9f0ff;
        border-bottom: none;
    }
    .survey_wrap-animal.cat {
        width: 25%;
    }

    .survey_image.dragon {
        width: 80%;
        margin: 0 auto;
    }
    .survey_image.cat {
        width: 65%;
        margin: 0 auto;
    }
    .survey_image.horse {
        width: 80%;
        margin: 0 auto;
    }
    .survey_image.bird {
        width: 80%;
        margin: 0 auto;
    }

    .survey_animals-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 20px 0px 20px;
        border: 3px solid #c9f0ff;
        gap: 30px;
    }
    .survey_question {
        color: white;
        border-bottom: 3px solid #c9f0ff;
        padding-bottom: 5px;
        margin: 0;
    }

    .survey_labelText {
        display: inline;
        color: white;
        /* background-color: rgb(251, 221, 157); */
        background: linear-gradient(
            to right,
            rgb(119, 43, 134) 30%,
            transparent
        );
        padding: 5px;
        border-radius: 0 10px 10px 0;
    }

    .survey_wrap-result {
        position: relative;
        display: flex;
        justify-content: center;
    }
    .survey_button {
        position: absolute;
        display: block;
        color: white;
        font-size: 1rem;
        font-weight: bolder;
        padding: 10px 15px;
        margin: 0;
        border: none;
        background-color: rgb(119, 43, 134);
        width: 200px;
    }
    .survey_next-page {
        position: absolute;
        z-index: 1;
        bottom: 0px;
        left: 390px;
        display: block;
        width: 180px;
        color: white;
        font-size: 1rem;
        font-weight: bolder;
        font-family: sans-serif;
        text-decoration: none;
        text-align: center;
        padding: 12px 8px;
        border-top: 3px solid #c9f0ff;
        border-left: 3px solid #c9f0ff;
        border-right: 3px solid #c9f0ff;
        background-color: #3488a8;
    }
    .survey_next-page:hover {
        cursor: pointer;
        background-color: #c9f0ff;
        border: none;
    }
    .survey_button:hover {
        cursor: pointer;
        background-color: rgb(107, 36, 121);
    }
    .survey_next-page.task {
        padding: 8px 8px;
        font-size: 0.9rem;
        width: 200px;
        left: 380px;
        margin: 0;
    }
    #surveyCounter {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 2px 5px;
        border-radius: 6px;
        color: red;
    }
    #animalsShowAnswersContainer {
        position: absolute;
        background-color: greenyellow;
        text-align: center;
        width: 200px;
        padding: 10px 0;
        margin: 0;
    }
    .display {
        z-index: 1;
    }
    .survey_container-bird {
        padding-top: 20px;
        margin-bottom: -5px;
    }
</style>

<section>
    <h2 class="survey_title-main">У нас любят заводить зверушек для души</h2>

    <div class="survey_wrap-flex">
        <div class="survey_wrap-animal">
            <div>
                <h3 class="survey_title-animals">Дракончики</h3>
                <p class="survey_text">
                    Они сууупер быстрые, большшые и красивые. Любят
                    путешествовать и перемещаться, домчат вас хоть на край света
                </p>
            </div>
            <img class="survey_image dragon" src="../dragon.svg" alt="дракон" />
        </div>
        <div class="survey_wrap-animal cat">
            <div>
                <h3 class="survey_title-animals">Котик-фамильяр</h3>
                <p class="survey_text">
                    Умные, самодостаточные. Иногда придут под бочек просить
                    ласки и слушать про ваш тяжелый день. Иногда будут гулять
                    сами по себе, неделями не появляясь дома.
                </p>
            </div>
            <img class="survey_image cat" src="../cat.svg" alt="кошечка" />
        </div>

        <div class="survey_wrap-animal">
            <div>
                <h3 class="survey_title-animals">Лошадь</h3>
                <p class="survey_text">
                    Обычные лошади. На них можно кататься :) и за ними нужно
                    ухаживать. Занимают много места.
                </p>
            </div>
            <img class="survey_image horse" src="../horse.svg" alt="лошадь" />
        </div>
        <div class="survey_wrap-animal">
            <div>
                <h3 class="survey_title-animals">Птичка-фамильяр</h3>
                <p class="survey_text">
                    Глупенькие, но такие милые. Любят поболтать, с радостью
                    составят вам в этом компанию. Можно отправлять по мелким
                    поручениям.
                </p>
            </div>
            <img
                class="survey_image bird"
                src="../birdThick.svg"
                alt="птичка"
            />
        </div>
    </div>

    <form id="survey_form-animals">
        <div class="survey_animals-container container">
            <label for="survey_form-animals"
                ><h2 class="survey_question">А кого выбрал бы ты?</h2></label
            >

            <div class="survey_wrap-radio">
                <input
                    type="radio"
                    id="animalsDragon"
                    name="animals"
                    value="дракончика"
                    required
                />
                <p class="survey_labelText">Дракончика</p>
                <input
                    type="radio"
                    id="animalsCat"
                    name="animals"
                    value="котика-фамильяра"
                />
                <p class="survey_labelText">Котика-фамильяра</p>
                <input
                    type="radio"
                    id="animalsHorse"
                    name="animals"
                    value="лошадь"
                    required
                />
                <p class="survey_labelText">Лошадь</p>
                <input
                    type="radio"
                    id="animalsBird"
                    name="animals"
                    value="птичку-фамильяра"
                />
                <p class="survey_labelText">Птичку-фамильяра</p>
            </div>

            <div class="survey_wrap-result">
                <p id="animalsShowAnswersContainer"></p>
                <button
                    id="surveySubmitButton"
                    class="survey_button"
                    type="submit"
                    class="submit">Тык для сохранения</button>
            </div>

            <a
                class="survey_next-page"
                id="surveyButtonNextPage"
                href="../resultsPage">Следующая страница</a
            >
            <p class="survey_next-page task" id="surveyTask">
                Покорми птичку <span id="surveyCounter">10 раз</span> и сможешь пройти
                дальше
            </p>

            <div class="survey_container-bird"><Grain /></div>
        </div>
    </form>
</section>
<!-- git commit -m "bird does not work 6" 
git push -u origin main-->
