---
import Grain from "../components/Animals/Grain.astro";
import Survey from "../components/Animals/Survey.astro";
import PageStyle from "../components/PageStyle.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Погода</title>
	</head>
	<body>
		<PageStyle>
			<Survey />
			<Grain /><a href="./resultsPage">след</a>
		</PageStyle>
	</body>
</html>
