---
import MainPage from "../components/MainPage.astro";
import Draft from "../components/Draft.astro"
---
<style>body {background-color: 	
	#3488A8;
	margin: 0 0;
padding: 0 10vw;}
	
	</style>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		
		<MainPage> </MainPage>
		
		
	</body>
</html>
