<style>main {
    background: linear-gradient(#DCABEB, #EBE6AB);
      height: 100vh;
      padding: 30px;
    }
    h1{text-align: center;}

    img{width: 10px;}
    </style>
      
      <main>
        
<h1>Добро пожаловать в наш мир магии и волшебства!</h1>

<p>Имя нашему миру - </p>

<img src="Globe.png" alt="Globe"/>
      </main>

