
<style>
   body {background-color: 	
	#3488A8;
	margin: 0 0;
padding: 0 10vw;}
   main {
      position: relative;
      background: linear-gradient(#c9f0ff, #86b1c1 40%, #3488a8 80%);
      width: 900px;
      height: 620px;
      padding: 40px 40px 0 40px;
    }
</style>



<main><slot/></main>
  
  

