<!-- <h4>Если бы вы были гражданином нашего мира и могли бы вместе с нами голосовать за погоду по утрам, какую погоду вы бы предпочитали большую часть своего времени?</h4>
 Температура
    Облачно,ясно
    Дождливо сухо
    Жить все время в лете, зиме, осене, весне, либо чтобы была обычная смена сезонов</h4> -->
<script>
    const surveyForm = document.getElementById("surveyForm");
    const showAnswersButton = document.getElementById("showAnswersButton");
    const answersContainer = document.getElementById("answersContainer");

    surveyForm.addEventListener("submit", function (event) {
        event.preventDefault();

        const name = document.getElementById("nameImput").value;
        const temperature = document.getElementById("temperatureSelect").value;
        const clouds = document.querySelector('input[name="clouds"]:checked').value;
        const humidity = document.querySelector(
            'input[name="humidity"]:checked'
        ).value;
        const season = document.getElementById("seasonSelect").value;

        const surveyFormData = {
            name: name,
            temperature: temperature,
            clouds: clouds,
            humidity: humidity,
            season: season,
        };
        showAnswersButton.dataset.surveyFormData =
            JSON.stringify(Object.values(surveyFormData));
    });
    showAnswersButton.addEventListener("click", function () {
        const surveyFormData = JSON.parse(
            showAnswersButton.dataset.surveyFormData || "{}"
        );
        answersContainer.textContent = JSON.stringify(surveyFormData, null, 2);
    });
</script>

<h4>
    Если бы вы были гражданином нашего мира и могли бы вместе с нами голосовать
    за погоду по утрам, какую погоду вы бы предпочитали большую часть своего
    времени?
</h4>
<form id="surveyForm">
    <label for="nameImput">Твое имя:</label>
    <br /><input type="text" name="name" id="nameImput" />

    <br />
    <label for="temperatureSelect"
        >Какая температура для тебя наиболее комфортна?</label
    >
    <br /><select id="temperatureSelect">
        <option value="от -10 до 0">от -10 до 0</option>
        <option value="от 0 до +15">от 0 до +15</option>
        <option value="от +10 до +20">от +10 до +20</option>
        <option value="от +15 до +25">от +15 до +25</option>
        <option value="от +20 до +25">от +20 до +25</option>
        <option value="от +25 до +35">от +25 до +35</option>
        <option value="больше +35">больше +35</option>
    </select>

    <br />
    <label for="cloudsRadio"
        >Количество солнца. Тебе бы хотелось чтобы большую часть времени было:</label
    >
    <br /><input
        type="radio"
        id="cloudsYes"
        name="clouds"
        value="Облачно"
        required
    /> Облачно
    <input type="radio" id="cloudsNo" name="clouds" value="Ясно" /> Ясно

    <br />
    <label for="humidityRadio"
        >Влажность. Тебе бы хотелось чтобы большую часть времени было:</label
    >
    <br /><input
        type="radio"
        id="humidityYes"
        name="humidity"
        value="Дождливо/Влажно"
        required
    /> Дождливо/Влажно
    <input type="radio" id="humidityNo" name="humidity" value="Сухо" /> Сухо

    <br />
    <label for="seasonSelect"
        >В каком сезоне тебе бы хотелось проживать большую часть времени?</label
    >
    <br /><select id="seasonSelect">
        <option value="Лето">Лето</option>
        <option value="Осень">Осень</option>
        <option value="Весна">Весна</option>
        <option value="Зима">Зима</option>
        <option value="С обычной сменой сезонов">С обычной сменой сезонов</option>
    </select>
    <br /><button type="submit">Тык для сохранения</button>
</form>



<button id="showAnswersButton">Покажи мне мои ответы</button>
<div id="answersContainer"></div>


