<h4>Если бы вы были гражданином нашего мира и могли бы вместе с нами голосовать за погоду по утрам, какую погоду вы бы предпочитали большую часть своего времени?


    Температура
    
    Облачно,ясно
    
    Дождливо сухо
    
    Жить все время в лете, зиме, осене, весне, либо чтобы была обычная смена сезонов</h4>