
<style>
   main {
      position: relative;
      background: linear-gradient(#c9f0ff, #86b1c1 40%, #3488a8 80%);
      width: 900px;
      padding: 40px 40px 0 40px;
    }
</style>



<main><slot/></main>
  
  

