
<script>
const resultContainerWeather = document.getElementById('resultsPage_result_container_weather');
const storedResultsWeather = localStorage.getItem('surveyFormWeatherResults');
const resultsWeather = JSON.stringify('storedResultsWeather');
resultContainerWeather.textContent = `${storedResultsWeather}`;

const resultContainerAnimals = document.getElementById('resultsPage_result_container_animals');
const storedResultsAnimals = localStorage.getItem('surveyFormAnimalsResult');
const resultsAnimals = JSON.stringify('storedResultsAnimals');
resultContainerAnimals.textContent = `${storedResultsAnimals}`;
</script>


<div id="resultsPage_result_container_animals">dd</div>
<div id="resultsPage_result_container_weather">---</div>


